*.sh
*.[oa]
*.swp
*.log
libraries/
Konzepte/*/
Konzepte/*.html
Fritzing/SensorKapazitiv.fzz
Fritzing/SensorKapazitiv_Steckplatine.jpg
Fritzing/SensorKapazitiv_Steckplatine.odg
Konzepte/Basis.odt
Konzepte/Messenger.odt
Konzepte/Moisture.odt
Konzepte/moisture-sensor.jpg
ZENTRIS/

