tmp/
libraries/
*.sh
*.[oa]
*.swp
*.log

ESP8266_Messenger/
ESP8266_SensorNode/
Analog_1/
Capacitance_1/
ESP8266_24TOUCH/
ESP8266_AnotherSD/
ESP8266_BASE_EEPROM/
ESP8266_Capacitor/
ESP8266_CapacitorV2/
ESP8266_EXPANSION/
ESP8266_ErdfeuchteMessung/
ESP8266_Gartenleuchten/
ESP8266_NATIVE_SD/
ESP8266_SerialOverLAN/
ESP8266_SerialOverLAN_V2/
ESP8266_Talk_2_Arduino/
ESP9266ParseSD/
HX711Serial/
IRrecvDemo/
TestEspApi/
WiFi_Clock/
detect_flash/
frank/
sketch_jun03a/
spfd5408_tftpaint/



